*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ecf0f3;
}

.login-form{
    margin-top: 30px;
    padding: 30px 35px 35px 35px;
  
    width: 340px;
    height: 490px;
    background: #ecf0f3;
    border-radius: 30px;
    box-shadow: 20px 30px 15px #cbced1,/* you can use "inset" its a main concept of neo*/ 
     -10px -10px 15px white;
}

.logo{
    background: url("logo/logos.png");
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
    box-shadow: 0px 0px 2px #5f5f5f,
     6px 6px 12px #a7aaaf,
    -6px -6px 12px white;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 17px;
    padding-top: 20px;
    letter-spacing: .3px;
}

.sub-title{
    text-align: center;
    font-size: 17px;
    padding-top: 8px;
    letter-spacing: 3px;
}

.form-fields{
    width: 100%;
    padding: 45px 5px 5px 5px;
}

.form-fields input{
    border: none;
    background: none;
    outline: none;
    color: #555;
    padding: 20px 10px 20px 5px;
}

.user-name, .user-password{
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: inset 20px 30px 15px #cbced1,/* you can use "inset" its a main concept of neo*/ 
    inset -10px -10px 15px white;
}
.form-fields svg{
    height: 25px;
    margin: 0px 7px -3px 20px;
    padding-top: 6px;
}

.signin-btn{
    outline: none;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 50px;
    text-align: center;
    border-radius: 20px;
    background: #63e06b;
    box-shadow: 3px 3px 8px #cbced1,
    -3px -3px -3px white;
    color: white;
    transition: .5s;
    padding-top: 15px;
}
.signin-btn:hover{
    background: #3df349;
}
.signin-btn:active{
    background: #bcf5c0;
}
.link{
    padding-top: 15px;
    text-align: center;
}
.link a{
    text-decoration: none;
    color: #aaa;
}

    